# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Rodriguez\Desktop\Django\TME_imageMan_mono_20210303\TME_imageMan_mono_20210303\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
